@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

body {
    font-family: 'Poppins', sans-serif;
}

.headline {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    color: #0b4114e7;
    margin-top: 50px;
}


/*MENU*/

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 3rem;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #087d0d;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
    font-size: 1.1rem;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {

    .contant {
        flex-direction: column;
    }

    .content-sobre {
        padding: 20px !important;
    }

    .content-sobre h1 {
        font-size: 45px !important
    }

    .card-sobre {
        margin: 0 20px 20px 20px !important;
    }

    .about img {
        width: 100% !important;
        border-radius: 0;
    }

    .about-text {
        width: 100% !important;
    }
    
    .main {
        flex-direction: column !important;
    }
    
    .boxe {
        flex-direction: column !important;
    }
    
    .box_r {
        width: 100% !important;
    }
    
    .box_r .circulo {
        clip-path: none !important;
    }
    
    .circulo .text_r {
        opacity: 1 !important;
    }

    .box_r img {
        visibility: hidden !important;
    }

    .main-p {
        flex-direction: column-reverse;
    }

    .about-p img {
        width: 100% !important;
        border-radius: 0 !important;
    }

    .about-p {
        padding: 0 0 20px 0 !important;
    }
    
    .box_r .circulo {
        clip-path: none !important;
    }

    .circulo .text_r {
        opacity: 1 !important;
    }

    .image__overlay {
        opacity: 1 !important;
    }
    
    .container-receita.alt {
        flex-direction: column-reverse;
    }
    
    .container-receita {
        flex-direction: column;
    }
    
    .left-side_re, .right-side_re {
        width: 100% !important;
    }
    
    .image_re {
        margin-bottom: 25px;
    }
    
    .nav-list {
        display: none;
    }
    
    .cards {
        display: block !important;
    }
    
    .card {
        width: 100% !important;
        border-radius: 0 !important;
        margin-bottom: 50px;
    }
    
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        z-index: 999;
        width: 50vw;
        height: 92vh;
        background: #087d0d;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    
    .content-sobre {
        background-color: rgb(175, 160, 76);
        margin-top: 15px;
        padding: 50px 0;
    }
    
    
}

.nav-list.active {
    display: flex;
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/*BANNER*/

.showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-size: cover;
    background-image: url(../img/index_banner.png) ;
    background-position: center;
    
    /* Overlay */
    background-blend-mode: color;
}

.showcase-container {
    text-align: center;
    margin-top: 65px;
}

.showcase-container h2 {
    font-size: 2.5rem;
    color: #000000;
    border-radius: 2px;
}

.showcase-container p {
    font-size: 1.5rem;
    padding: 7px 0;
    color: #000000;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #087d0d;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #0b4114e7;
}

/*SOBRE*/

.features {
    width: 100%;
    background: #ffffff;
    color: #1d311e;
}

.features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #2da132;
    padding: 40px;
    border-radius: 5px;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.cards {
    max-width: 980px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #2da132;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 40px;
    border-radius: 5px;
    width: 450px;
}

.card:hover {
    transform: translateY(-7px);
}

.sobretest {
    font-size: 1.3rem;
    padding: 7px 0;
    color: #000000;
}

.btn-sobre {
    text-decoration: none;
    background-color: #2da132;
    color: #094618;
    margin-top: 60px;
    padding-top: 70px;
    font-weight: bold;  
    border-radius: 5px; 
    font-size: 1.3rem;
}

.btn-sobre:hover {
    cursor: pointer;
    color: #ffffff;
}

/*PRODUTOS*/

.clients {
    width: 100%;
    background: #ace9a4;
    color: #111;
    padding: 50px;
}

.clients-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.client {
    display: inline-block;
    width: 25%;
}

/*ANIMAÇÃO*/

.icon {
    max-width: 300px;
    max-height: 140px;
    padding: 5px 20px;
    display: grid;
    place-items: center;
    height: 100vh;
    justify-content: space-between; 
}

.icon:hover {
    animation: e-book 1.5s ease-in-out alternate infinite;
}

@keyframes e-book {
    to {
        transform: translateY(30px);
    }
}

/*CRÉDITOS*/

.headline-equi {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    color: #0b4114e7;
}

.banner-equipe {
    height: 30vh;
    display: flex;
    align-items: center;
    color: #000000;
    background-image: url(../img/imagequipe.jpeg);
    margin-bottom: 2px;
}

.features-equi {
    width: 100%;
    background: #ffffff;
    color: #1d311e;
}

.cards-equipe {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.card-equipe {
    margin: 0 auto;
}

.textg {
    text-align: center;
}

.card-equipe:hover {
    transform: translateY(-7px);
}

.imagem-equipe {
    max-width: 200px;
    align-items: center;
    margin-bottom: 10px;
}

.image-equipe {
    max-width: 200px;
    align-items: center;
    margin-bottom: 10px;
}

.imagemadm-equipe {
    max-width: 200px;
    align-items: center;
    margin-bottom: 10px;
}

.espec {
    text-align: center;
}

.espec-ult {
    text-align: center;
    margin-bottom: 30px;
}

/*RECEITAS-PÁGINA*/
.banner-receitas {
    height: 15vh;
    display: flex;
    align-items: center;
    color: #000000;
    background-position: -5px -475px;    
}

.image_receitas {
    max-width: 400px;
    max-height: 300px;
}

.centralizar {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_r {
    width: 700px;
    height: 500px;
    position: relative;
}

.box_r img {
    position: absolute;
    width: 400px;
    height: 380px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.box_r .circulo {
    width: 100%;
    height: 100%;
    background: #EC9205;
    border-radius: 5px;
    display: flex;
    align-items: center;
    clip-path: circle(170px);
}

.box_r .circulo:hover ~ img {
    left: calc(100% - 100px);
    width: 400px;
    height: 400px;
}

.box_r .circulo:hover {
    clip-path: circle(500px);
}

.circulo .text_r {
    max-width: 450px;
    padding-left: 20px;
    padding-top: 10px;
    opacity: 0;
}

.circulo:hover .text_r {
    opacity: 1;
}


.text_r h2 {
    color: rgb(0, 0, 0);
}

.text_r h3 {
    color: #FFF;
    margin-bottom: 10px;
    font-weight: bold;
}

.text_r p {
    color: #FFF;
    margin-bottom: 5px;
}

.container-receita {
    max-width: 980px;
    display: flex;
    margin: 0 auto;
}

.contant_r {
    background-color: rgb(76, 175, 114);
    margin-top: 15px;
    padding: 50px 0;
}

.left-side_re {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 0 20px;
}

.left-side_re h1{
    font-size: 50px;
    color: #094618;
}

.left-side_re h2{
    font-size: 30px;
    color: #094618;
}

.left-side_re p{
    color: #FFF;
    margin-bottom: 5px;
}

.right-side_re {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    width: 50%;
}

.right-side_re img {
    border-radius: 5px;
}

.image_re {
    position: relative;
    width: 100%;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(215, 212, 212, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 5px;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover>* {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

/*SOBRE1*/
.content-sobre {
    background-color: #f6ab42;
    margin-top: 15px;
    padding: 50px;
}

.content-sobre h1 {
    color: #ffffff;
    font-size: 60px
}

.content-sobre a {
    color: #087d0d;
    font-size: 25px;
}

.content-sobre a:hover {
    color: rgb(86, 175, 74);
}

.content-sobre h4 {
    color: #23820c;
    letter-spacing: 2px;
    font-size: 30px;
}

/*HISTÓRIA*/
.about {
    background-color: #3fa444;
    margin-top: 15px;
    padding: 50px 0;
}

.about img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    width: 50%;
}

.main {
    max-width: 980px;
    display: flex;
    margin: 0 auto;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 0 20px;    
}

.about-text h2 {
    color: #FFF;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.about-text h5 {
    color: #094618;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.about-text p {
    color: #000000;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
}


/*ÉTICA*/
.etic {
    background-color: #3fa444;
    margin-top: 15px;
    padding: 50px 0;
}

.titulo-sob h2{
    color: #FFF;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}

.boxe {
    max-width: 1289px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

.card-sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #6dd973;
    padding: 20px;
    border-radius: 20px;
    margin: 0 20px;
}

.image-sob {
    display: block;
    align-items: center;
    margin: 0 auto;
    color: #000000;
    max-width: 50px;
}

.card-sobre h5 {
    color: #094618;
    font-size: 23px;
    margin-bottom: 15px; 
}

.pra {
    color: #000000;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: center;
}

/*FRASE*/
.contact-me {
    margin-top: 20px;
    padding: 30px 40px;
    background: #f6ab42;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.button-two {
    background-color: #db9c08;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.button-two:hover {
    transition: .3s;
    background-color: #9c7415;
}

/*FOOTER START*/
footer {
    margin-top: 20px;
    width: 100%;
    background: #47ce68;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 50px;
}

footer p:nth-child(1) {
    margin-top: 60px;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: #fff;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.img-reds {
    width: 40px;
    display: block; 
    align-items: center;
    margin: 25px 0;
    color: #000000;
}

.end {
    color: #FFF;
    bottom: 35px;
    font-size: 17px;
}

/*PRODUTOS-EBOOK*/

.about-p {
    background-color: rgb(76, 175, 114);
    margin-top: 15px;
    padding: 50px 0;
}

.about-ptext {
    margin: 0 20px;
}


.about-p h1 {
    font-size: 60px;
    color: #1d311e;
}

.about-p h2 {
    font-size: 40px;
    color: #328627;
}

.about-p h4 {
    font-size: 30px;
    color: #1d311e;
}

.about-p p {
    font-size: 20px;
    color: #fff;
}

.about-p span {
    font-size: 50px;
    color: #194e12;
}

.about-p a {
    font-size: 20px;
    background-color: #328627;
    border-radius: 5px;
    padding: 10px;
}

.about-p a:hover {
    opacity: 0.7;
}

.about-p img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    width: 50%;
}

.main-p {
    max-width: 980px;
    display: flex;
    margin: 0 auto;
}

/*PRODUTOS_SUCOS*/
#containers {
    margin: 0 auto;
    max-width: 2289px;
}

#containers > header {
    background: #f6ab42;
    text-align: center;
    font-size: 60px;
    color: #094618;
}

.suco { margin-bottom: 20px; border: 3px solid #47ce68; margin-top: 10px; padding: 10px 0;}
.suco p {
    background-color: #087d0d;
    color: whitesmoke;
    padding: 5px 10px;
    cursor: pointer;
}

#sucos {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.suco a {
    text-decoration: none;
    color: #FFF;
    background-color: #EC9205;
    margin: 10px;
    width: 10px;
    padding: 5px;
    border-radius: 5px;
}

.suco a:hover {
    background-color: #f6b03f;
    cursor: pointer;
}
